[Unit]
Description=orbitald
After=containerd.service
Requires=containerd.service

[Service]
User=root
Group=root
StateDirectory=orbitald
StateDirectoryMode=0750
ExecStart=@BINDIR@/orbitald -listen :8080 -state-dir @ORBITALD_STATE_DIR@ -containerd-sock @CONTAINERD_SOCK@ -snapshotter @ORBITALD_SNAPSHOTTER@
Restart=on-failure
RestartSec=5s
WorkingDirectory=@ORBITALD_STATE_DIR@
NoNewPrivileges=yes

[Install]
WantedBy=multi-user.target
